@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
    --light: #F9F9F9;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body.dark {
    --light: #0C0C1E;
    --grey: #060714;
    --dark: #FBFBFB;
}

body {
    background: var(--grey);
    overflow-x: hidden;

}

/* ******* SIDEBAR ******* */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: .3s ease;
    overflow: hidden;
    scrollbar-width: none;
}

#sidebar::--webkit-scrollbar {
    display: none;
}

#sidebar.hide {
    width: 100%;
}

#sidebar .brand {
    font-size: 35px;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    color: #060714;
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

#sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

#brand-name {
    font-family: "Syncopate", sans-serif;
    font-size: 25px;
    font-weight: 550;
    font-style: normal;
    margin-left: 50px;
    white-space: nowrap;
    overflow: hidden;
}

#brand-link {
    text-decoration: none;
    color: inherit;
}

#brand-link:hover {
    text-decoration: underline;
    color: #666;
}

.h.hidden {
    visibility: hidden;
}

.letter {
    display: inline-block;
}

#sidebar .menu {
    height: 50px;
    margin-left: 180px;
    margin-top: -75px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.menu .nav-link {
    font-family: "Varela Round", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #99999a;
    padding: 16px 1px;
    transition: color 0.3s ease, transform 0.3s ease;

}

.menu .nav-link:hover {
    color: #000000;
}

.menu .nav-link:active {
    color: #000000;
    transform: scale(1.2);
}

#sidebar form .form-input {
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 200px;
    z-index: 999;
}

#sidebar form .form-input input {
    flex-grow: 1;
    padding: 0 20px;
    height: 40px;
    border: none;
    background: var(--grey);
    border-radius: 40px 0 0 40px;
    outline: none;
    width: 300px;
    color: var(--dark);
    font-size: 15px;
}

#sidebar form .form-input button {
    width: 46px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--grey);
    color: #05a241;
    font-size: 25px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

#sidebar .profile img {
    position: fixed;
    top: 10px;
    right: 30px;
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 999;
}

.styled-hr {
    border: none;
    height: 60px;
    background-color: #c3c3c3;
    margin: 0px 0;
}

/* ******* PRODUCT-PROMO ******* */

#product-about {
    background-color: #ffffff;
    color: #000000;
    padding: 30px 0;
}

.container-video{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.3288165608040091) 83%, rgba(101,98,98,0.729376784893645) 100%, rgba(0,0,0,1) 100%);
    color: #000000;
    padding: 0;
    text-align: center;
}

.video-container {
    margin: 0;
    padding: 0;
}

.video-container video {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#product-about h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

.content-slogan {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3288) 0%, rgba(101, 98, 98, 0.729) 0%, rgba(0, 0, 0, 1) 10%);
    color: #ffffff;
    padding: 20%;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    text-align: left; 
    height: 100vh; 
    position: relative;
    z-index: 3; 
}

.content-slogan .tagline {
    color: #6fa775;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.content-slogan h2 {
    font-size: 3em;
    margin: 10px 0;
}

.content-slogan .underline {
    width: 100%;
    height: 2px;
    background-color: #5dae65;
    margin: 10px 0;
}

.content-slogan p {
    font-size: 1.3em;
    margin: 10px 0;
}

/* Đổi Mới Công Nghệ */

#slider-innovation {
    background-color: #ffffff;
    color: #000000;
    padding: 90px 0;
    position: relative; 
}

#slider-innovation h1 {
    font-size: 2.5em;
    text-align: left; 
    margin: 0; 
    padding: 0 20px; 
    position: absolute;
    left: 60px; 
    top: 50px; 
    width: calc(100% - 40px); 
    box-sizing: border-box; 
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #d9d9d9;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-top: 60px; 
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 20px;
}

.slide img {
    width: 60%;
    height: auto;
}

.text-content {
    width: 30%;
    margin-left: 50px;
    padding: 10px;
}

.text-content h2 {
    font-size: 2em;
    margin: 0;
}

.text-content p {
    margin: 10px 0;
}

.text-content a {
    text-decoration: none;
    color: #00bfa5;
    font-weight: bold;
}

.next-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
}



/* ******* FOOTER ******* */

.footer {
    background-color: #000;
    padding: 20px 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #333;
    padding: 15px 0;

}

.footer-column {
    width: 16%;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
    color: #ccc;
    cursor: pointer;
    font-size: 14px;
}

.footer-column ul li:hover {
    color: #fff;
}

.footer-column ul li a {
    margin-bottom: 8px;
    color: #ccc;
    cursor: pointer;
    font-size: 14px;
}

.footer-column ul li a:hover {
    color: #fff;
}

.footer-note {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}

/* Support Button */
.support-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    background-color: #111;
    color: white;
    cursor: pointer;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.support-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.support-button span {
    font-size: 16px;
}

/* Footer Bottom */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #333;
}

.footer-links a,
.footer-language a {
    color: #777;
    font-size: 12px;
    margin-right: 20px;
    text-decoration: none;
}

.footer-links a:hover,
.footer-language a:hover {
    color: #fff;
}

.footer-social a {
    margin-right: 15px;
}

.footer-social a img {
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
}

.footer-social a:hover img {
    filter: none;
}





/* Media query cho thiết bị nhỏ hơn */
@media (max-width: 768px) {
    .product-navbar {
        top: 50px;
        /* Giảm khoảng cách trên cho màn hình nhỏ hơn */
        padding: 8px 10px;
        /* Giảm padding để phù hợp với màn hình nhỏ */
    }

    .product-navbar ul li a {
        font-size: 14px;
        /* Giảm kích thước chữ để phù hợp với màn hình nhỏ */
        padding: 6px 10px;
        /* Giảm padding để phù hợp với màn hình nhỏ */
    }
}