@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
    --light: #F9F9F9;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body.dark {
    --light: #0C0C1E;
    --grey: #060714;
    --dark: #FBFBFB;
}

body {
    background: var(--grey);
    overflow-x: hidden;

}

/* ******* SIDEBAR ******* */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: .3s ease;
    overflow: hidden;
    scrollbar-width: none;
}

#sidebar::--webkit-scrollbar {
    display: none;
}

#sidebar.hide {
    width: 100%;
}

#sidebar .brand {
    font-size: 35px;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    color: #060714;
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

#sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

#brand-name {
    font-family: "Syncopate", sans-serif;
    font-size: 25px;
    font-weight: 550;
    font-style: normal;
    margin-left: 50px;
    white-space: nowrap;
    overflow: hidden;
}

#brand-link {
    text-decoration: none;
    color: inherit;
}

#brand-link:hover {
    text-decoration: underline;
    color: #666;
}

.h.hidden {
    visibility: hidden;
}

.letter {
    display: inline-block;
}

#sidebar .menu {
    height: 50px;
    margin-left: 180px;
    margin-top: -75px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.menu .nav-link {
    font-family: "Varela Round", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #99999a;
    padding: 16px 1px;
    transition: color 0.3s ease, transform 0.3s ease;

}

.menu .nav-link:hover {
    color: #000000;
}

.menu .nav-link:active {
    color: #000000;
    transform: scale(1.2);
}

#sidebar form .form-input {
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 200px;
    z-index: 999;
}

#sidebar form .form-input input {
    flex-grow: 1;
    padding: 0 20px;
    height: 40px;
    border: none;
    background: var(--grey);
    border-radius: 40px 0 0 40px;
    outline: none;
    width: 300px;
    color: var(--dark);
    font-size: 15px;
}

#sidebar form .form-input button {
    width: 46px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--grey);
    color: #05a241;
    font-size: 25px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

#sidebar .profile img {
    position: fixed;
    top: 10px;
    right: 30px;
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 999;
}

.styled-hr {
    border: none;
    height: 60px;
    background-color: #c3c3c3;
    margin: 0px 0;
}

/* ******* PRODUCT-PROMO ******* */

#product-promo {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #f5f5f5;
    margin-top: 60px;
}

.product-navbar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-top: 1px solid #99999a;
    border-bottom: 1px solid #c3c3c3;
    transition: background-color 0.3s ease;
}

.product-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.product-navbar ul li {
    margin: 0;
}

.product-navbar ul li:last-child {
    margin-right: 0;
}

.product-navbar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 20px;
    display: block;
}

.product-navbar ul li a:hover,
.product-navbar ul li a.active {
    background-color: #f5f5f5;

}

/* Product Gallery */

#product-gallery {
    text-align: center;
    padding: 20px 0;
    top: 50px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 30px;
    color: #000;
}

.product-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 5px;
}

.product-card {
    flex-basis: 24%;
    padding: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}


.product-info h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.product-info p {
    font-size: 14px;
    color: #888;
    margin-bottom: 15px;
}

.learn-more {
    position: relative;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.learn-more:hover {
    color: #333;
}

.learn-more::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
}

.learn-more:hover::after {
    width: 100%;
}

.color-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.color-options input[type="radio"] {
    display: none;
}

.color-options label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #cccccc;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.color-options label:hover {
    border-color: #999999;
}

#color1+label {
    background: rgb(195, 195, 93);
    background: linear-gradient(106deg, rgba(195, 195, 93, 1) 47%, rgba(254, 255, 221, 1) 84%);
}

#color2+label {
    background-color: #000000;
}

#color3+label {
    background: rgb(241, 241, 163);
    background: linear-gradient(106deg, rgba(241, 241, 163, 1) 4%, rgba(254, 255, 221, 1) 84%);
}

#color4+label {
    background: rgb(247, 214, 246);
    background: linear-gradient(106deg, rgba(247, 214, 246, 1) 24%, rgba(238, 238, 238, 0.9954832274706757) 86%);
}

#color5+label {
    background: rgb(91, 91, 91);
    background: linear-gradient(106deg, rgba(91, 91, 91, 1) 54%, rgba(150, 150, 150, 1) 100%);
}

#color6+label {
    background: rgb(221, 225, 240);
    background: linear-gradient(106deg, rgba(221, 225, 240, 1) 0%, rgba(229, 208, 232, 1) 84%);
}

#color7+label {
    background-color: #000000;
}

#color8+label {
    background-color: #000000;
}

#color9+label {
    background: rgb(233, 233, 233);
    background: linear-gradient(106deg, rgba(233, 233, 233, 1) 35%, rgba(238, 238, 238, 1) 71%);
}

.color-options input[type="radio"]:checked+label {

    border-color: #cccccc;
    transform: scale(1.5);
}

/* products-cards OPPO Find N Series */

#product-Find-N {
    text-align: center;
    padding: 20px 0;
    top: 50px;
}

.products-series {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 5px;
}

.product-series {
    flex-basis: 49.5%;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    text-align: left;
}

.products-cards-series {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 5px;
    gap: 20px;
}

.card-series {
    flex: 1 1 20%;
    max-width: 308px;
    padding: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    text-align: left;
}

.card-series img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: -40px;
}

.color-options-series {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.color-options-series input[type="radio"] {
    display: none;
}

.color-options-series label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #cccccc;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.color-options-series label:hover {
    border-color: #999999;
}

.color-options-series input[type="radio"]:checked+label {

    border-color: #cccccc;
    transform: scale(1.5);
}

#color-N1+label {
    background: rgb(195, 195, 93);
    background: linear-gradient(106deg, rgba(195, 195, 93, 1) 47%, rgba(254, 255, 221, 1) 84%);
}

#color-N2+label {
    background-color: #000000;
}

#color-N3+label {
    background: rgb(241, 241, 163);
    background: linear-gradient(106deg, rgba(241, 241, 163, 1) 4%, rgba(254, 255, 221, 1) 84%);
}

#color-N4+label {
    background: rgb(247, 214, 246);
    background: linear-gradient(106deg, rgba(247, 214, 246, 1) 24%, rgba(238, 238, 238, 0.9954832274706757) 86%);
}

#color-N5+label {
    background: rgb(91, 91, 91);
    background: linear-gradient(106deg, rgba(91, 91, 91, 1) 54%, rgba(150, 150, 150, 1) 100%);
}

#color-N6+label {
    background: rgb(221, 225, 240);
    background: linear-gradient(106deg, rgba(221, 225, 240, 1) 0%, rgba(229, 208, 232, 1) 84%);
}

#color-N7+label {
    background-color: #000000;
}

.product-series img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-info h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.product-info p {
    font-size: 14px;
    color: #888;
    margin-bottom: 15px;
}

.learn-more {
    position: relative;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.learn-more:hover {
    color: #333;
}

.learn-more::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
}

.learn-more:hover::after {
    width: 100%;
}

/* OPPO Reno Series */

#product-Reno {
    text-align: center;
    padding: 20px 0;
    top: 50px;
}

.color-options-RENO {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.color-options-RENO input[type="radio"] {
    display: none;
}

.color-options-RENO label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #cccccc;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.color-options-RENO label:hover {
    border-color: #999999;
}

.color-options-RENO input[type="radio"]:checked+label {

    border-color: #cccccc;
    transform: scale(1.5);
}

#color-RENO2+label,
#color-RENO6+label,
#color-RENO8+label,
#color-RENO13+label,
#color-RENO15+label,
#color-RENO17+label {
    background: rgb(91, 91, 91);
    background: linear-gradient(106deg, rgba(91, 91, 91, 1) 54%, rgba(150, 150, 150, 1) 100%);
}

#color-RENO1+label {
    background: rgb(64, 126, 61);
    background: linear-gradient(106deg, rgba(64, 126, 61, 1) 63%, rgba(102, 117, 110, 1) 78%);
}

#color-RENO4+label {
    background: rgb(64, 126, 61);
    background: linear-gradient(106deg, rgba(64, 126, 61, 1) 63%, rgba(102, 117, 110, 1) 78%);
}

#color-RENO3+label {
    background: rgb(233, 136, 57);
    background: linear-gradient(106deg, rgba(233, 136, 57, 0.9450630594034489) 54%, rgba(242, 180, 125, 1) 78%);
}

#color-RENO5+label {
    background: rgb(247, 214, 246);
    background: linear-gradient(106deg, rgba(247, 214, 246, 1) 24%, rgba(238, 238, 238, 0.9954832274706757) 86%);
}

#color-RENO7+label {
    background: rgb(221, 225, 240);
    background: linear-gradient(106deg, rgba(221, 225, 240, 1) 0%, rgba(229, 208, 232, 1) 84%);
}

#color-RENO9+label {
    background: rgb(138, 213, 228);
    background: linear-gradient(106deg, rgba(138, 213, 228, 0.9450630594034489) 54%, rgba(214, 251, 255, 1) 78%);
}

#color-RENO10+label {
    background: rgb(253, 240, 255);
    background: linear-gradient(106deg, rgba(253, 240, 255, 1) 0%, rgba(224, 192, 230, 0.9450630594034489) 100%);
}

#color-RENO11+label {
    background: rgb(217, 254, 214);
    background: linear-gradient(106deg, rgba(217, 254, 214, 1) 0%, rgba(60, 113, 58, 0.9450630594034489) 100%);
}

#color-RENO12+label {
    background: rgb(217, 217, 217);
    background: linear-gradient(106deg, rgba(217, 217, 217, 1) 0%, rgba(255, 255, 255, 0.9450630594034489) 100%);
}

#color-RENO14+label {
    background: rgb(195, 255, 236);
    background: linear-gradient(106deg, rgba(195, 255, 236, 1) 0%, rgba(132, 254, 215, 1) 100%);
}

#color-RENO16+label {
    background: rgb(172, 75, 175);
    background: linear-gradient(106deg, rgba(172, 75, 175, 1) 0%, rgba(252, 195, 255, 1) 100%);
}

/* OPPO A Series */

#product-A-Series {
    text-align: center;
    padding: 20px 0;
    top: 50px;
}

.products-a-series {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.products-a-series {
    flex-basis: 49.5%;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    text-align: left;
}

.product-item1 {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    width: 800px;
    position: relative;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item1 img {
    width: 100%;
    height: auto;
    display: block;
}

.product-info-a-series {
    padding: 10px;
    text-align: left;
}

.product-info-a-series h3 {
    margin: 10px 0 5px;
    font-size: 16px;
    color: #333;
}

.product-info-a-series p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.learn-more-a-series {
    left: 80%;
    top:  -30px;
    position: relative;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.learn-more-a-series:hover {
    color: #333;
}

.learn-more-a-series::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
}

.learn-more-a-series:hover::after {
    width: 100%;
}

.product-item2 {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
    position: relative;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item2 img {
    width: 100%;
    height: auto;
    display: block;
}



.product-label-a-series {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
}

.color-options-A {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.color-options-A input[type="radio"] {
    display: none;
}

.color-options-A label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #cccccc;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.color-options-A label:hover {
    border-color: #999999;
}

.color-options-A input[type="radio"]:checked+label {

    border-color: #cccccc;
    transform: scale(1.5);
}

#color-A5+label,
#color-A6+label,
#color-A9+label,
#color-A11+label,
#color-A13+label,
#color-A15+label,
#color-A17+label {
    background: rgb(91, 91, 91);
    background: linear-gradient(106deg, rgba(91, 91, 91, 1) 54%, rgba(150, 150, 150, 1) 100%);
}

#color-A1+label {
    background: rgb(42,173,207);
    background: linear-gradient(106deg, rgba(42,173,207,1) 0%, rgba(176,218,231,1) 100%);
}

#color-A2+label {
    background: rgb(106,11,11);
    background: linear-gradient(106deg, rgba(106,11,11,1) 0%, rgba(120,74,75,1) 100%);
}
#color-A3+label {
    background: rgb(195,195,195);
    background: linear-gradient(106deg, rgba(195,195,195,1) 0%, rgba(255,255,255,1) 100%);
}

#color-A4+label {
    background: rgb(144,56,157);
    background: linear-gradient(106deg, rgba(144,56,157,1) 0%, rgba(233,198,237,1) 100%);
}

#color-A7+label {
    background: rgb(80,175,221);
    background: linear-gradient(106deg, rgba(80,175,221,1) 0%, rgba(224,246,255,1) 100%);
}

#color-A8+label {
    background: rgb(179,132,196);
    background: linear-gradient(106deg, rgba(179,132,196,1) 0%, rgba(246,242,247,1) 100%);
}

#color-A10+label {
    background: rgb(245,239,151);
    background: linear-gradient(106deg, rgba(245,239,151,1) 0%, rgba(247,247,244,1) 100%);
}

#color-A12+label {
    background: rgb(140,212,189);
    background: linear-gradient(106deg, rgba(140,212,189,1) 0%, rgba(222,255,245,1) 100%);
}

#color-A14+label {
    background: rgb(115,226,206);
    background: linear-gradient(106deg, rgba(115,226,206,1) 0%, rgba(222,255,245,1) 100%);
}

#color-A16+label {
    background: rgb(107,222,185);
    background: linear-gradient(106deg, rgba(107,222,185,1) 0%, rgba(199,242,226,1) 100%);
}

/* Filters */

#filter {
    text-align: center;
    padding: 20px 0;
    top: 50px;
}

.filter-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.filter-heading {
    font-size: 18px;
    color: #888;
    margin: 0;
}

.filter-title {
    font-size: 24px;
    color: #333;
    margin: 10px 0 30px 0;
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-select {
    width: 45%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 16px;
}

.filter-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reset-filter {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}

.reset-filter:hover {
    text-decoration: underline;
}

.filter-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-button:hover {
    background-color: #333;
}

/* ******* FOOTER ******* */

.footer {
    background-color: #000;
    padding: 20px 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #333;
    padding: 15px 0;

}

.footer-column {
    width: 16%;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
    color: #ccc;
    cursor: pointer;
    font-size: 14px;
}

.footer-column ul li:hover {
    color: #fff;
}

.footer-column ul li a {
    margin-bottom: 8px;
    color: #ccc;
    cursor: pointer;
    font-size: 14px;
}

.footer-column ul li a:hover {
    color: #fff;
}

.footer-note {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}

/* Support Button */
.support-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    background-color: #111;
    color: white;
    cursor: pointer;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.support-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.support-button span {
    font-size: 16px;
}

/* Footer Bottom */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #333;
}

.footer-links a,
.footer-language a {
    color: #777;
    font-size: 12px;
    margin-right: 20px;
    text-decoration: none;
}

.footer-links a:hover,
.footer-language a:hover {
    color: #fff;
}

.footer-social a {
    margin-right: 15px;
}

.footer-social a img {
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
}

.footer-social a:hover img {
    filter: none;
}





/* Media query cho thiết bị nhỏ hơn */
@media (max-width: 768px) {
    .product-navbar {
        top: 50px;
        /* Giảm khoảng cách trên cho màn hình nhỏ hơn */
        padding: 8px 10px;
        /* Giảm padding để phù hợp với màn hình nhỏ */
    }

    .product-navbar ul li a {
        font-size: 14px;
        /* Giảm kích thước chữ để phù hợp với màn hình nhỏ */
        padding: 6px 10px;
        /* Giảm padding để phù hợp với màn hình nhỏ */
    }
}