@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
    --light: #F9F9F9;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body.dark {
    --light: #0C0C1E;
    --grey: #060714;
    --dark: #FBFBFB;
}

body {
    background: var(--grey);
    overflow-x: hidden;

}

/* ******* SIDEBAR ******* */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: .3s ease;
    overflow: hidden;
    scrollbar-width: none;
}

#sidebar::--webkit-scrollbar {
    display: none;
}

#sidebar.hide {
    width: 100%;
}

#sidebar .brand {
    font-size: 35px;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    color: #060714;
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

#sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

#brand-name {
    font-family: "Syncopate", sans-serif;
    font-size: 25px;
    font-weight: 550;
    font-style: normal;
    margin-left: 50px;
    white-space: nowrap;
    overflow: hidden;
}

#brand-link {
    text-decoration: none;
    color: inherit;
}

#brand-link:hover {
    text-decoration: underline;
    color: #666;
}

.h.hidden {
    visibility: hidden;
}

.letter {
    display: inline-block;
}

#sidebar .menu {
    height: 50px;
    margin-left: 180px;
    margin-top: -75px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.menu .nav-link {
    font-family: "Varela Round", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #99999a;
    padding: 16px 1px;
    transition: color 0.3s ease, transform 0.3s ease;

}

.menu .nav-link:hover {
    color: #000000;
}

.menu .nav-link:active {
    color: #000000;
    transform: scale(1.2);
}

#sidebar form .form-input {
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 200px;
    z-index: 999;
}

#sidebar form .form-input input {
    flex-grow: 1;
    padding: 0 20px;
    height: 40px;
    border: none;
    background: var(--grey);
    border-radius: 40px 0 0 40px;
    outline: none;
    width: 300px;
    color: var(--dark);
    font-size: 15px;
}

#sidebar form .form-input button {
    width: 46px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--grey);
    color: #05a241;
    font-size: 25px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

#sidebar .profile img {
    position: fixed;
    top: 10px;
    right: 30px;
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 999;
}

.styled-hr {
    border: none;
    height: 60px;
    background-color: #c3c3c3;
    margin: 0px 0;
}

/* ******* PRODUCT-PROMO ******* */

#product-promo {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #f5f5f5;
    margin-top: 60px;
}

.section-title {
    font-size: 30px;
    margin-bottom: 30px;
    color: #000;
}

#product-watch {
    text-align: center;
    padding: 20px 0;
    top: 50px;
}

.products-watch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.products-watch {
    flex-basis: 49.5%;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    text-align: left;
}

.product-item {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    width: 800px;
    position: relative;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: auto;
    display: block;
}

.product-info-watch {
    padding: 10px;
    text-align: left;
}

.product-info-watch h3 {
    margin: 10px 0 5px;
    font-size: 16px;
    color: #333;
}

.product-info-watch p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.learn-more-watch {
    position: relative;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.learn-more-watch:hover {
    color: #333;
}

.learn-more-watch::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
}

.learn-more-watch:hover::after {
    width: 100%;
}

.card-watch {
    flex: 1 1 20%;
    max-width: 308px;
    padding: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    text-align: left;
}

.card-watch img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: -40px;
}


.color-options-watch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.color-options-watch input[type="radio"] {
    display: none;
}

.color-options-watch label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #cccccc;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.color-options-watch label:hover {
    border-color: #999999;
}

.color-options-watch input[type="radio"]:checked+label {

    border-color: #cccccc;
    transform: scale(1.5);
}

#color-watch2+label,
#color-watch4+label,
#color-watch5+label,
#color-watch10+label,
#color-watch12+label {
    background: rgb(28,28,28);
}

#color-watch1+label {
    background: rgb(194,189,184);
    background: linear-gradient(106deg, rgba(194,189,184,1) 0%, rgba(232,124,8,1) 100%);
}

#color-watch3+label {
    background: rgb(255,250,245);
    background: linear-gradient(106deg, rgba(255,250,245,1) 0%, rgba(227,188,145,1) 100%);
}

#color-watch6+label {
    background: rgb(255,250,245);
    background: linear-gradient(106deg, rgba(255,250,245,1) 0%, rgba(227,188,145,1) 100%);
}

#color-watch7+label {
    background: rgb(28,28,28);
    background: linear-gradient(106deg, rgba(28,28,28,1) 0%, rgba(120,120,120,1) 100%);
}

#color-watch8+label {
    background: rgb(255,250,245);
    background: linear-gradient(106deg, rgba(255,250,245,1) 0%, rgba(217,178,121,1) 100%);
}

#color-watch9+label {
    background: rgb(201,200,200);
    background: linear-gradient(106deg, rgba(201,200,200,1) 0%, rgba(240,240,240,1) 100%);
}

#color-watch11+label {
    background: rgb(162,181,187);
    background: linear-gradient(106deg, rgba(162,181,187,1) 0%, rgba(229,249,255,1) 100%);
}

#color-watch13+label {
    background: rgb(254,226,254);
    background: linear-gradient(106deg, rgba(254,226,254,1) 0%, rgba(244,241,243,1) 100%);
}

.products-card-watch {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 5px;
    gap: 20px;
}

.product-info h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.product-info p {
    font-size: 14px;
    color: #888;
    margin-bottom: 15px;
}

.learn-more {
    position: relative;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.learn-more:hover {
    color: #333;
}

.learn-more::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
}

.learn-more:hover::after {
    width: 100%;
}




/* ******* FOOTER ******* */

.footer {
    background-color: #000;
    padding: 20px 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #333;
    padding: 15px 0;

}

.footer-column {
    width: 16%;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
    color: #ccc;
    cursor: pointer;
    font-size: 14px;
}

.footer-column ul li:hover {
    color: #fff;
}

.footer-column ul li a {
    margin-bottom: 8px;
    color: #ccc;
    cursor: pointer;
    font-size: 14px;
}

.footer-column ul li a:hover {
    color: #fff;
}

.footer-note {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}

/* Support Button */
.support-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    background-color: #111;
    color: white;
    cursor: pointer;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.support-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.support-button span {
    font-size: 16px;
}

/* Footer Bottom */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #333;
}

.footer-links a,
.footer-language a {
    color: #777;
    font-size: 12px;
    margin-right: 20px;
    text-decoration: none;
}

.footer-links a:hover,
.footer-language a:hover {
    color: #fff;
}

.footer-social a {
    margin-right: 15px;
}

.footer-social a img {
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
}

.footer-social a:hover img {
    filter: none;
}





/* Media query cho thiết bị nhỏ hơn */
@media (max-width: 768px) {
    .product-navbar {
        top: 50px;
        /* Giảm khoảng cách trên cho màn hình nhỏ hơn */
        padding: 8px 10px;
        /* Giảm padding để phù hợp với màn hình nhỏ */
    }

    .product-navbar ul li a {
        font-size: 14px;
        /* Giảm kích thước chữ để phù hợp với màn hình nhỏ */
        padding: 6px 10px;
        /* Giảm padding để phù hợp với màn hình nhỏ */
    }
}